{% extends 'base.html' %}

{% block content %}
<!-- Section Start -->
<section>
  <div class="container hero-bg w-100 vh-80">
    <div class="hero-overlay z-0"></div>
    <div class="container grid h-100 wd-80-bp-lg pd-2">
      <div class="flex-col gp-3 justify-center align-start z-2">
        <h1 class="ft-primary-3">
          Welcome To 
          <br>
          My Fitness
        </h1>
        <p class="ft-wt-500 ft-sz-4">
          Welcome to my fitness.
          <br>
          We provide the best fitness equipment.
          <br>
          Shop now and get 10% off your first order when you join today.
        </p>
        <a href="#" class="btn btn-xl bg-primary-1 ft-dark-1 ft-sz-2">
          Shop Now
          <i class="fas fa-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
  </section>
  <!-- Section End -->
{% endblock %}